/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   li{
    padding-right: 30px;
   }
  li a{

    
    font-size: 30px;
  }
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
  #carousel-bangalore{
      margin-top: 0px;
      height: 30%;
  }
  /* #ban2{
       background: url('../../images/ca3.jpg') top left no-repeat;
   }

   #ban3{
    
       background: url('../../images/travel.jpeg') top left no-repeat;
   }*/

/* --------------------------------------
   Global Styles*/

   .head{
       font-family: 'Slackey';

       font-size:25px;
   }
   p{
       font-family: 'Amita';
       font-size:22px;
       text-align: justify;
   }
  
  /* .card1{
      width:150;
      height:100;
  } */


/* --------------------------------------
   Media Queries
   -------------------------------------- */
   .card{

    box-shadow: 0 4px 8px 0 rgba(180, 177, 177, 0.2);
    transition: 0.3s;
   }

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}